@import "./Utils/variables";
@import "./Utils/functions";
@import "./Utils/mixins";
@import "./Base/typography";
@import "./Utils/animations";
@import "./Components/loader";
@import "./Components/buttons";
@import "./Components/icons";
@import "./Layout/footer";
@import "./Layout/header";
@import "./Pages/home";
@import "./Pages/menu1";

body {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  width: 100%;
  max-width: 1440px;
  padding: 0;
  margin: 0;
  font-family: $font-family-Roboto;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: 768px) {
    align-items: center;
  }
}

h1, h2, h3, h4, p {
  margin: 0px;
  padding: 0px;
}
