.base-button {
  padding: 0.813rem 1.188rem;
  color: $color-quinary;
  width: 11.563rem;
  height: 3.125rem;
  a {
    @include button-style;
    text-decoration: none;
    color:$color-quinary;
  }
  &--large {
    width: 13.75rem;
  }
}

.grad-rounded {
  border: none;
  border-radius: 25px;
  background: $gradient;
  @include button-shadow;
  transition: all 200ms;
  &:hover {
    opacity: 0.8;
    @include button-shadow-hover;
  }
}
