.steps-icon {
  @include flex-center;
  font-size: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.813rem;
  /* @media (min-width:1024px){
    margin-left: 1.3rem;
  } */
  &::before {
    @include flex-center;
  }
  &--grey {
    color: darken($color-quinary, 50%);
  }
  &--purple {
    color: $color-primary;
  }
}

.number-icon {
  background-color: $color-primary;
  border-radius: 1rem;
  font-size: 0.875rem;
  margin: -0.813rem;
  &::before {
    color: $color-quinary;
  }
  /* @media (min-width:1024px){
    margin-left: -1.3rem;
  } */
}

.footer-icon {
  @include flex-center;
  width: 0.813rem;
  height: 0.813rem;
  &::before {
    @include flex-center;
    font-size: 0.75rem;
    color: $color-quinary;
  }
}

.check-icon {
  color: white;
  font-size: 1.5rem;
}

.heart-container {
  @include flex-center;
  fill: transparent;
  stroke: grey;
  stroke-width: 20;
  cursor: pointer;
  position: relative;
  svg {
    overflow: visible;
    width: 1.5rem;
  }
  path {
    stroke-dasharray: 1550;
    stroke-dashoffset: 0;
    transform-origin: center;
  }
  .heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
  }
}


.heart-icon {
  /* @include flex-center; */
  //override by work-around
  /*  font-size: 1.5rem;
  width:1.5rem;
  height: 1.5rem; */
  /*   &::before {
     color: $color-secondary;
  } */
  /*   -webkit-text-stroke: 1px black;
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
  z-index: 0;
 
  &:hover {
  } */
}

/*work-around which does not work in Mozilla etc*/
.fa-heart {
  /* display: inline-block; */
  /*  font-family: "Font Awesome 5 Free"; */
  /*  -webkit-text-stroke: 1px black;
 font-weight: 900;
 font-size: 1.5rem;
 color: white; */
}

/* background-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%); */
