main {
  display: flex;
  flex-direction: column;
  .showcase {
    z-index: 0;
  }
  .menu-display {
    z-index: 1;
  }
}
.showcase {
  @media (min-width: 768px) {
    width: 100%;
    flex-grow: 1;
  }
  img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    object-position: 50% 50%;
    @media (min-width: 768px) {
      object-position: 50% 55%;
    }
    @media (min-width: 1024px) {
      height: 383px;
      object-position: 50% 55%;
    }
  }
}

.menu-display {
  @media (min-width: 768px) {
    width: 75%;
    > * {
      width: 60%;
      align-self: center;
    }
  }
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
  border-radius: 30px 30px 0 0;
  padding: 0px 13px 40px 13px;
  gap: 40px;
  background-color: darken($color-quinary, 3%);
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 4px 0px 4px;
    @media (min-width: 768px) {
      justify-content: center;
      gap: 1.5rem;
    }
    &-txt {
      @include heading-style;
      font-size: font-size($font-size-heading-menu-page);
    }
  }
  /*------------ Personal WARNING : try to group starters dishes and dessert with a ghost class-----------------*/
  &__starters {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    &-title {
      position: relative;
      &-txt {
        @include menu-dish-title-style;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -7px;
        left: 0;
        width: 2.5rem;
        border-bottom: 3px solid $color-tertiary;
      }
    }
    &-menu {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  &__dishes {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    &-title {
      position: relative;
      &-txt {
        @include menu-dish-title-style;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -7px;
        left: 0;
        width: 2.5rem;
        border-bottom: 3px solid $color-tertiary;
      }
    }
    &-menu {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  &__desserts {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    &-title {
      position: relative;
      &-txt {
        @include menu-dish-title-style;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -7px;
        left: 0;
        width: 2.5rem;
        border-bottom: 3px solid $color-tertiary;
      }
    }
    &-menu {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  /*--------------------------------*/
  &__order {
    display: flex;
    justify-content: center;
  }
}

.menu-cards {
  @include heading-shadow;
  position: relative;
  border-radius: 20px;
  background-color: $color-quinary;
  overflow: hidden;
  box-sizing: border-box;
  padding: 14px 15px;
  cursor: pointer;
  &__title {
    @include menu-card-title-style;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__byline {
    display: flex;
    justify-content: space-between;
    margin-right: 0.5rem;
    margin-top: 5px;
    > &-txt {
      @include menu-card-byline-style;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }
    &-price {
      @include menu-card-price-style;
      padding-left: 3px;
    }
  }
  &__checkbox {
    position: absolute;
    background: #99e2d0;
    right: -60px;
    top: 0;
    width: 60px;
    height: 100%;
    text-align: center;
  }
}
