$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-quaternary:#008766;
$color-quinary:#FFF;


$gradient:linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);